@model List<Query6ResultViewModel>

<h1>Імена програмiстів, які працюють в тих компаніях  і тільки тих, що й громадянин з введеним Id</h1>
<h4>
    SELECT ct.FullName<br>
    FROM Citizens ct<br>
    WHERE NOT EXISTS (<br>
    SELECT *<br>
    FROM companies c<br>
    WHERE NOT EXISTS (<br>
    SELECT *<br>
    FROM Programmers p<br>
    WHERE c.id = p.CompanyId<br>
    AND p.citizen_id = enteredId<br>
    )
    )
</h4>

    <table>
        <tr>
            <th>Programmer</th>
        </tr>
        @foreach (var programmer in Model)
        {
            <tr>
                <td>@programmer.ProgrammerName</td>
            </tr>
        }
    </table>
